body{
  margin: 0;
  font-family: "Cabin", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > *{
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

script{
  display: none;
}

header{
  height: 100vh;
  justify-content: center;
}

section{
  min-height: 80vh;
}

header, section{
  border-bottom: 10px solid black;
}

section:last-of-type{
  border: none;
}

footer{
  border-top: 10px solid black;
  text-align: center;
}

.banner{
  width: 100%;
  max-height: 80vh;
  margin: 15vh 0;
}

.banner, section > *{
  max-width: 1200px;
}

h1{
  font-size: 3rem;
  margin: 15vh 0;
  line-height: 1.5;
  text-align: center;
}

h2{
  margin-top: 15vh;
  margin-bottom: 15vh;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

h3{
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 15px;
}

h4{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  color: #941100;
  margin-top: 50px;
  margin-bottom: 25px;
}

p{
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 600px;
  margin-bottom: 15vh;
  text-align: justify;
  text-align-last: center;
}

#Requirements h3{
  margin-top: 75px;
}

ul{
  list-style-type: square;
  padding-left: 23px;
  margin-top: 0;
  margin-bottom: 25px;
  border-top: 5px solid black;
  padding-top: 25px;
}

#Description ul{
  margin-bottom: 15vh;
}

li{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

.image_responsive{
  max-width: 100%;
  height: auto;
}

#Description{
  max-width: 442px;
}

#Sample_materials p{
  margin-top: 0;
}

iframe{
  max-width: 600px;
}

#Sample_audio p{
  margin-top: 50px;
}

footer p{
  margin: 7vh 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

footer p a{
  color: dimgray;
  text-decoration: none;
  font-weight: normal;
  text-transform: lowercase;
  transition: .5s;
  transition-property: color;
}

footer p a span{
  font-family: sans-serif;
}

footer p a:hover{
  color: black;
}

@media (max-width: 800px) {
  h1, h2, h3{
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  h1, h2, h4, p{
    text-align: left;
  }

  p{
    text-align-last: left;
  }

  footer p{
    align-self: flex-start;
  }
}
